<!--<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Server-side prerendering</strong>. For faster initial loading and improved SEO, your Angular app is prerendered on the server. The resulting HTML is then transferred to the browser where a client-side copy of the app takes over.</li>
    <li><strong>Webpack dev middleware</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Hot module replacement</strong>. In development mode, you don't even need to reload the page after making most changes. Within seconds of saving changes to files, your Angular app will be rebuilt and a new instance injected is into the page.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and the <code>webpack</code> build tool produces minified static CSS and JavaScript files.</li>
</ul>-->

<div class="sidebard-panel chat-discussion13">
    <div>
        <h4>Our Associates </h4>

        <div>
            <table cellspacing="0" id="gv_Associates" style="height:100px;border-collapse:collapse;">
                <tbody>
                    <tr>
                        <th align="left" scope="col" style="font-weight:bold;">&nbsp;</th>
                    </tr>
                    <tr>
                        <td>

                            <div class="feed-element">
                                <a href="#" class="pull-left">
                                    <img id="gv_Associates_imgProfile_0" class="img-circle" src="../../../../wwwroot/resources/images/webuser.jpg">
                                    <input type="hidden" name="gv_Associates$ctl02$hddimg" id="gv_Associates_hddimg_0">
                                    <input type="hidden" name="gv_Associates$ctl02$hhdFactId" id="gv_Associates_hhdFactId_0">
                                </a>
                                <div class="media-body">
                                    <p class="m-b-xs">
                                        <span id="gv_Associates_lblName_0" style="font-weight:bold;">Amol</span>&nbsp;<span id="gv_Associates_lblMiddleName_0" style="font-weight:bold;"></span><span id="gv_Associates_lblLastName_0" style="font-weight:bold;">Chauhan</span>
                                    </p>
                                    Associated Faculty
                                    <br>
                                    <p class="m-b-xs">
                                        <small class="text-muted">'9876543210'</small>
                                    </p>

                                    <input type="submit" name="gv_Associates$ctl02$btnReadMore" value="Read More" id="gv_Associates_btnReadMore_0" class="label-primary pull-right">
                                </div>
                            </div>

                            <hr class="box-color6">

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="feed-element">
                                <a href="#" class="pull-left">
                                    <img id="gv_Associates_imgProfile_1" class="img-circle" src="../../../../wwwroot/resources/images/webuser.jpg">
                                    <input type="hidden" name="gv_Associates$ctl03$hddimg" id="gv_Associates_hddimg_1">
                                    <input type="hidden" name="gv_Associates$ctl03$hhdFactId" id="gv_Associates_hhdFactId_1">
                                </a>
                                <div class="media-body">
                                    <p class="m-b-xs">
                                        <span id="gv_Associates_lblName_1" style="font-weight:bold;">Manoj </span>&nbsp;<span id="gv_Associates_lblMiddleName_1" style="font-weight:bold;">V</span><span id="gv_Associates_lblLastName_1" style="font-weight:bold;">Suryawanshii</span>
                                    </p>
                                    Associated Faculty
                                    <br>
                                    <p class="m-b-xs">
                                        <small class="text-muted">'9689752589'</small>
                                    </p>

                                    <input type="submit" name="gv_Associates$ctl03$btnReadMore" value="Read More" id="gv_Associates_btnReadMore_1" class="label-primary pull-right">
                                </div>
                            </div>

                            <hr class="box-color6">

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="feed-element">
                                <a href="#" class="pull-left">
                                    <img id="gv_Associates_imgProfile_2" class="img-circle" src="../../../../wwwroot/resources/images/webuser.jpg">
                                    <input type="hidden" name="gv_Associates$ctl04$hddimg" id="gv_Associates_hddimg_2">
                                    <input type="hidden" name="gv_Associates$ctl04$hhdFactId" id="gv_Associates_hhdFactId_2">
                                </a>
                                <div class="media-body">
                                    <p class="m-b-xs">
                                        <span id="gv_Associates_lblName_2" style="font-weight:bold;">Manoj</span>&nbsp;<span id="gv_Associates_lblMiddleName_2" style="font-weight:bold;">Suresh</span><span id="gv_Associates_lblLastName_2" style="font-weight:bold;">Bhosale</span>
                                    </p>
                                    Associated Faculty
                                    <br>
                                    <p class="m-b-xs">
                                        <small class="text-muted">'9595959595'</small>
                                    </p>

                                    <input type="submit" name="gv_Associates$ctl04$btnReadMore" value="Read More" id="gv_Associates_btnReadMore_2" class="label-primary pull-right">
                                </div>
                            </div>

                            <hr class="box-color6">

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="feed-element">
                                <a href="#" class="pull-left">
                                    <img id="gv_Associates_imgProfile_3" class="img-circle" src="../../../../wwwroot/resources/images/webuser.jpg">
                                    <input type="hidden" name="gv_Associates$ctl05$hddimg" id="gv_Associates_hddimg_3">
                                    <input type="hidden" name="gv_Associates$ctl05$hhdFactId" id="gv_Associates_hhdFactId_3">
                                </a>
                                <div class="media-body">
                                    <p class="m-b-xs">
                                        <span id="gv_Associates_lblName_3" style="font-weight:bold;">Pree </span>&nbsp;<span id="gv_Associates_lblMiddleName_3" style="font-weight:bold;"></span><span id="gv_Associates_lblLastName_3" style="font-weight:bold;">Khadate </span>
                                    </p>
                                    Associated Faculty
                                    <br>
                                    <p class="m-b-xs">
                                        <small class="text-muted">'9892963651'</small>
                                    </p>

                                    <input type="submit" name="gv_Associates$ctl05$btnReadMore" value="Read More" id="gv_Associates_btnReadMore_3" class="label-primary pull-right">
                                </div>
                            </div>

                            <hr class="box-color6">

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="feed-element">
                                <a href="#" class="pull-left">
                                    <img id="gv_Associates_imgProfile_4" class="img-circle" src="../../../../wwwroot/resources/images/webuser.jpg">
                                    <input type="hidden" name="gv_Associates$ctl06$hddimg" id="gv_Associates_hddimg_4">
                                    <input type="hidden" name="gv_Associates$ctl06$hhdFactId" id="gv_Associates_hhdFactId_4">
                                </a>
                                <div class="media-body">
                                    <p class="m-b-xs">
                                        <span id="gv_Associates_lblName_4" style="font-weight:bold;">Rahul</span>&nbsp;<span id="gv_Associates_lblMiddleName_4" style="font-weight:bold;"></span><span id="gv_Associates_lblLastName_4" style="font-weight:bold;">Sonawane</span>
                                    </p>
                                    Associated Faculty
                                    <br>
                                    <p class="m-b-xs">
                                        <small class="text-muted">'9763135966'</small>
                                    </p>

                                    <input type="submit" name="gv_Associates$ctl06$btnReadMore" value="Read More" id="gv_Associates_btnReadMore_4" class="label-primary pull-right">
                                </div>
                            </div>

                            <hr class="box-color6">

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>

    <div class="m-t-md">
        <h4>Statistics</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        </p>

    </div>

</div>
<div style="height:1060px;">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <span class="pull-right text-right">
                                <small>Average value of sales in the past month in: <strong>United states</strong></small>
                                <br>
                                All sales: 162,862
                            </span>
                            <h1 class="m-b-xs">Attendance</h1>
                            <h3 class="font-bold no-margins">
                                Half-year revenue margin
                            </h3>
                            <small>Sales marketing.</small>
                        </div>

                        <div>
                            <canvas id="lineChart" height="77" width="330" style="width: 300px; height: 70px;"></canvas>
                        </div>

                        <div class="m-t-md">
                            <small class="pull-right">
                                <i class="fa fa-clock-o"> </i>
                                Update on 16.07.2015
                            </small>
                            <small>
                                <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">



            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Timeline</h5>.  Half year revenue margin
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content inspinia-timeline">
                        <div class="row">
                            <a href="#"><div class="pgdm-box-01"><p> PGDM 1 </p> </div><!--pgdm-box-01--></a>
                            <a href="#"><div class="pgdm-box-02"><p> PGDM 2 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> PGDM 3 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> PGDM 4 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> PGDM 5 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> PGDM 6 </p></div><!--pgdm-box-02--></a>
                        </div>

                        <div class="row">
                            <a href="#"><div class="pgdm-box-01"><p> MBA 1 </p> </div><!--pgdm-box-01--></a>
                            <a href="#"><div class="pgdm-box-02"><p> MBA 2 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> MBA 3 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> MBA 4 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> MBA 5 </p></div><!--pgdm-box-02--></a>
                            <a href="#"><div class="pgdm-box-02"><p> MBA 6 </p></div><!--pgdm-box-02--></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Syllabus Completion Report</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content inspinia-timeline">

                        <div class="ibox-content">
                            <div class="row">

                                <div class="col-lg-12">
                                    <ul class="stat-list">
                                        <li>
                                            <h4 class="no-margins">Management Accounting </h4>
                                            <div class="stat-percent"><h4>48%</h4></div>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4 class="no-margins">Management Accounting </h4>
                                            <div class="stat-percent"><h4>90%</h4></div>
                                            <div class="progress progress-mini">
                                                <div style="width: 90%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4 class="no-margins">Management Accounting </h4>
                                            <div class="stat-percent"><h4>20%</h4></div>
                                            <div class="progress progress-mini">
                                                <div style="width: 20%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4 class="no-margins">Management Accounting </h4>
                                            <div class="stat-percent"><h4>67%</h4></div>
                                            <div class="progress progress-mini">
                                                <div style="width: 67%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4 class="no-margins">Management Accounting </h4>
                                            <div class="stat-percent"><h4>77%</h4></div>
                                            <div class="progress progress-mini">
                                                <div style="width:77%;" class="progress-bar"></div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="col-lg-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> Highlights </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p><a class="text-info" href="#">@Alan Marry</a> I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 minuts ago</small>
                            </li>
                            <li class="list-group-item">
                                <p><a class="text-info" href="#">@Stock Man</a> Check this stock chart. This price is crazy! </p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>
                            </li>
                            <li class="list-group-item">
                                <p><a class="text-info" href="#">@Kevin Smith</a> Lorem ipsum unknown printer took a galley </p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
                            </li>
                            <li class="list-group-item ">
                                <p><a class="text-info" href="#">@Jonathan Febrick</a> The standard chunk of Lorem Ipsum</p>
                                <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>