<div class="row border-bottom" style="margin-bottom:15px;">
    <nav class="navbar navbar-static-top" role="navigation">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <b>Welcome to<span class="m-r-sm text-muted welcome-message"><i>  Classroom <sup>+</sup> </i></span></b>
            </li>
            <li>
                <span class="m-r-sm text-muted welcome-message"></span>
            </li>
            <li>
                <b>
                    <a href="ChangePassword.aspx">
                        <i class="fa-hacker-news" aria-hidden="true"></i> Change Password
                    </a>
                </b>
            </li>

            <!--<li>
                <b>
                    <a href="logout.aspx">
                        <i></i> Log out
                    </a>
                </b>
            </li>-->
            <li>
                <b>
                    <a class="nav-link" (click)="logout()" href="#">Log out</a>
                </b>
            </li>
            <li>
                <a class="right-sidebar-toggle">
                    <i></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class='main-nav'>

    <nav class='navbar-default navbar-static-side'>
        <!--<div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">ERPPoc</a>
        </div>
        <div class='clearfix'></div>-->
        <div class='sidebar-collapse'>
            <ul class='nav metismenu'>
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <a href="AdminProfile.aspx"><img id="LeftMenu_adminprofile" alt="image" src="../../../../wwwroot/resources/images/a4.jpg" class="img-circlenew"></a>
                            <input type="hidden" name="LeftMenu$hddProfileImage" id="LeftMenu_hddProfileImage">
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"></strong></span></span>
                        </a><strong class="font-bold"><a href="AdminProfile.aspx">ADMIN</a> </strong>

                    </div>
                    <div class="logo-element">
                        Pune Institute of Business Management
                    </div>
                </li>

                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-th-list'></span> Login
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/signup']">
                        <span class='glyphicon glyphicon-th-list'></span> Register
                    </a>
                </li>-->
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Imp Dates
                    </a>
                </li>
                <!--<li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Master
                    </a>
                </li>-->

                <li>

                    <a [routerLink]="['/home']">
                        <i class="fa fa-th-large"></i> <span class="nav-label">Masters</span> <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li> <a href="User-List-Advance.aspx"><span class="nav-label">Userlist</span></a> </li>
                        <li> <a href="Fees_Structure.aspx">Fee structure</a> </li>
                        <li>
                            <a [routerLink]="['/course']">
                                <span class='glyphicon glyphicon-home'></span> Course
                            </a>
                        </li>
                        <li><a href="SubcourseAdd.aspx">Sub Courses</a></li>
                        <li><a href="Pattern.aspx">Pattern</a></li>
                        <li><a href="FacultyList.aspx">Faculty</a></li>
                        <li><a href="AddClassroom.aspx">Add Class Room</a></li>
                        <li><a href="TimeTableSlots.aspx">Time Slot</a></li>
                        <li><a href="subject_import.aspx">Import Subject</a></li>
                        <li><a href="MarkingTable.aspx">Internal Marks</a></li>
                        <li><a href="add_HolidayList.aspx">Holiday Details</a></li>
                        <%--
                        <li><a href="AddCourse.aspx">Courses</a></li>
                        <li><a href="SubcourseAdd.aspx">Sub Courses</a></li>--%>

                    </ul>
                </li>
                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>-->
                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/course']">
                        <span class='glyphicon glyphicon-th-list'></span> Course
                    </a>
                </li>-->
                <li>
                    <a [routerLink]="['/batch']">
                        <span class='glyphicon glyphicon-th-list'></span> Batch
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Section
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Subject
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Class Participation
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Evaluation
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Student Migration
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Semester Plan
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Online Exam
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> MCQ Result
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Faculty session planning
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Allocation
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Day wise Time Table
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Faculty Engagement
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Student List
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Enrollment
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Section wise Student Data Upload
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Weekly Attendance Report
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Reports
                    </a>
                </li>

                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/logout']">
                        <span class='glyphicon glyphicon-th-list'></span> Logout
                    </a>
                </li>-->
            </ul>
        </div>
    </nav>
</div>
