<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Create Batch</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<form class="form-horizontal" id="form1" novalidate (ngSubmit)="Batch(BatchForm)" #SubmitForm="ngForm" autocomplete="off">
    <fieldset>

        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><font color="#1ab394">Please Create the New Batch Below :</font></h5>

                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="form-horizontal">



                            <div class="form-group">
                                <label class="col-lg-2 control-label">Select Course</label>
                                <div class="col-lg-10 col-lg-4-width">
                                    <select class="form-control m-b" cellpadding="4" cellspacing="4" style="width:200px;"
                                            [(ngModel)]="batch.courseId" name="courseId">
                                        <option selected="selected" value="">Please select a Course</option>
                                        <option *ngFor="let course of courses"
                                                [ngValue]="course.id">
                                            {{course.course_Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Sub Course</label>
                                <div class="col-lg-10 col-lg-4-width">
                                    <select class="form-control m-b" cellpadding="4" cellspacing="4" style="width:200px;"
                                            [(ngModel)]="batch.subCourseId" name="subCourseId">
                                        <option selected="selected" value="">Please select a Sub Course</option>
                                        <option *ngFor="let subcourse of subcourses"
                                                [ngValue]="subcourse.id">
                                            {{subcourse.sub_Course}}
                                        </option>
                                    </select>
                               
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Start Year</label>
                                <div class="col-lg-10 col-lg-4-width">

                                    <select id="ddlStartYear" class="form-control m-b" [(ngModel)]="batch.startYear" name="startYear" cellpadding="4" cellspacing="4" style="width:200px;">
                                        <option [ngValue]="2018">2018</option>
                                        <option selected="selected" [ngValue]="2017">2017</option>
                                        <option [ngValue]="2016">2016</option>
                                        <option [ngValue]="2015">2015</option>
                                        <option [ngValue]="2014">2014</option>
                                        <option [ngValue]="2013">2013</option>
                                        <option [ngValue]="2012">2012</option>
                                        <option [ngValue]="2011">2011</option>
                                        <option [ngValue]="2010">2010</option>
                                        <option [ngValue]="2009">2009</option>
                                        <option [ngValue]="2008">2008</option>

                                    </select>

                                    <span class="help-block m-b-none"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Course Duration</label>
                                <div class="col-lg-3" style="width: 32%">

                                    <select name="duration" [(ngModel)]="batch.duration" id="ddlDuration" class="form-control m-b col-lg-3" cellpadding="4" cellspacing="4">
                                        <option selected="selected" value="0">Select</option>
                                        <option [ngValue]="1">1</option>
                                        <option [ngValue]="2">2</option>
                                        <option [ngValue]="3">3</option>
                                        <option [ngValue]="4">4</option>
                                        <option [ngValue]="5">5</option>
                                        <option [ngValue]="6">6</option>
                                        <option [ngValue]="7">7</option>
                                        <option [ngValue]="8">8</option>
                                        <option [ngValue]="9">9</option>
                                        <option [ngValue]="10">10</option>

                                    </select>
                                   </div>
                                <div class="col-lg-3" style="width: 32%">
                                    
                                    <select name="durationType" [(ngModel)]="batch.durationType" id="ddlMonthYear" class="form-control m-b" cellpadding="4" cellspacing="4">
                                        <option selected="selected" value="0">Select</option>
                                        <option value="Month">Month(s)</option>
                                        <option value="Year">Year(s)</option>

                                    </select>
                                    <span id="RequiredFieldValidator4" style="color:Red;display:none;">Please Select Month/Year</span>





                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Batch Name</label>
                                <div class="col-lg-10 col-lg-4-width">

                                    <input name="academic_Year" type="text" [(ngModel)]="batch.academic_Year" id="txtBatchName" class="form-control" style="background-color:White;">

                                    <span class="help-block m-b-none"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-2 control-label">Pattern</label>
                                <div class="col-lg-10 col-lg-4-width">

                                    <select name="patternId" [(ngModel)]="batch.patternId" id="ddlPattern" class="form-control m-b" cellpadding="4" cellspacing="4">
                                        <option selected="selected" [ngValue]="0">Select</option>
                                        <option [ngValue]="2">Annual</option>
                                        <option [ngValue]="1">Semester </option>
                                        <option [ngValue]="3">Trimester</option>

                                    </select>
                                    <span id="RequiredFieldValidator5" style="color:Red;display:none;">Please Select The Course Pattern!!</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Batch Incharge</label>
                                <div class="col-lg-10 col-lg-4-width">
                                    <div id="updatepanel15">

                                        <select name="batchInchargeId" [(ngModel)]="batch.batchInchargeId" id="ddlbatchincharge" class="form-control m-b" cellpadding="4" cellspacing="4" style="width:271px;">
                                            <option [ngValue]="0">Select</option>
                                            <option [ngValue]="4">Ayesha   Shaikh</option>
                                            <option [ngValue]="2">Girsih N Potdar</option>
                                            <option [ngValue]="9">Lokesh  Kate</option>
                                            <option [ngValue]="3">Manoj S Bhosale</option>
                                            <option [ngValue]="6">Mansi Rajendra Waradkar</option>
                                            <option [ngValue]="5">Pree  Khadate</option>
                                            <option [ngValue]="1">Preeti  Khadate </option>
                                            <option [ngValue]="8">Soham  Kale</option>
                                            <option [ngValue]="7">Test  User</option>
                                        </select>

                                    </div>
                                    <span class="help-block m-b-none"></span>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-lg-2 control-label">Start Date</label>
                                <div class="col-lg-10 col-lg-4-width">
                                    <!--<p-calendar name="datestart" [(ngModel)]="batch.StartDate" dateFormat="dd/mm/yy" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">-->
                                    <span class="ng-tns-c1-3 ui-calendar ui-calendar-w-btn">

                                        <input type="date" id="startdate" name="startDate" [(ngModel)]="batch.startDate" class="form-control">
                                        <!--<button class="ui-datepicker-trigger ui-calendar-button ng-tns-c1-3 ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" pbutton="" tabindex="-1" type="button">
                                            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-calendar"></span><span class="ui-button-text ui-clickable">ui-btn</span>
                                        </button>-->
                                    </span>
                                    <!--</p-calendar> <span style="margin-left:35px"></span>-->
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-lg-2 control-label">End Date</label>
                                <div class="col-lg-10 col-lg-4-width">
                                    <!--<p-calendar name="EndDate" [(ngModel)]="batch.EndDate" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">-->
                                    <span class="ng-tns-c1-3 ui-calendar ui-calendar-w-btn">

                                        <input type="date" id="enddate" name="endDate" [(ngModel)]="batch.endDate" class="form-control">
                                        <!--<button class="ui-datepicker-trigger ui-calendar-button ng-tns-c1-3 ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" pbutton="" tabindex="-1" type="button">
                                            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-calendar"></span><span class="ui-button-text ui-clickable">ui-btn</span>
                                        </button>-->
                                    </span>
                                    <!--</p-calendar> <span style="margin-left:35px"></span>-->
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-6 col-lg-4-width3">
                            <h4>
                                Please provide tentative start and end dates for all the Semesters below. You can also edit it later.
                            </h4>
                        </div>
                        <br>

                        <div class="col-sm-6 col-lg-4-width3">

                            <div>
                                <table class="col-lg-4-width5" cellspacing="0" id="gv_leadsource" style="width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr style="color:Red;font-weight:bold;">
                                            <td colspan="3">
                                                <div id="gv_leadsource_divgridError">
                                                    <p id="error" class="info">
                                                        <span class="info_inner">
                                                            <span id="gv_leadsource_lbl_divError">No Record Found.</span>
                                                        </span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-11 control-label">
                                <input type="submit" name="btnclear" value="Clear" id="btnclear" class="btn btn-sm btn-primary pull-right m-t-n-xs" style="margin-right:10%;">
                            </div>
                            <div class="col-lg-1">
                                <input type="submit" name="btnSubmit" value="Save Changes" (click)="save(batch)" id="btnSubmit" class="btn btn-sm btn-primary pull-right m-t-n-xs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="div_add_new_subject" style="display: block" class="col-lg-5"  *ngIf="!addCourse">
            <div id="Div1" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 style="color: #1ab394">Add New Course / Pattern</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <p class="text-center text-align-margin">
                                <img src="../../../../wwwroot/resources/images/img 8.png" width="138" height="115" alt="">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="m-t-none m-b">Do you want add new course?</h3>
                            <p></p>
                            <br>
                            <input type="button" name="Button1" value="Click to add new Course" (click)="showCourse()" id="Button1" class="btn btn-sm btn-primary pull-right m-t-n-xs">
                            <!--<button id="Button1" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" onclick="return visibility();"><strong>Click to add new Course</strong></button>-->
                        </div>
                        <div class="col-sm-6">
                            <h3 class="m-t-none m-b">Do you want add new Pattern?</h3>
                            <p></p>
                            <br>
                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" onclick="return visible_pattern();"><strong>Click to add new Pattern</strong></button>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="col-lg-5" *ngIf="addCourse">
            <add-course></add-course>
        </div>

    </fieldset>
</form>


 
