

<!--<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.courseName}}</td>
            <td>{{ course.description  }}</td>

        </tr>
    </tbody>
</table>-->
<div class="row wrapper border-bottom white-bg page-heading2">
    <div class="col-lg-12">
        <div class="ibox-title">

            <h2>
                Batch List&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a [routerLink]="['/addbatch']" class="btn btn-primary">Add New Batch</a>
            </h2>
            <ol class="breadcrumb"></ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action2">
                &nbsp;
            </div>

            <!-- HTML for SEARCH BAR -->
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div id="DivBatch" class="col-lg-5-width-left">
        <div class="">
            <div class="ibox float-e-margins">
                <p-dataList [value]="rowData" [paginator]="true" [rows]="5">
                    <!--<p-header>
                        List of Batches
                    </p-header>-->
                    <ng-template let-batch pTemplate="item">
                        <!--<div class="ui-g ui-fluid batch-item">
                            <div class="ui-g-12 ui-md-9 ">
                                <div class="ui-g">-->
                        <div class="ibox-title"><h5><b>{{batch.batch_Name}}&nbsp;&nbsp; {{batch.acedemic_Year}}</b></h5></div>
                        <div class="ibox-content">

                            <p class="text-aln-01">Batch Incharge :Pree Khadate </p>
                            <p class="text-aln-02"><b class="pull-right">1 Semesters added</b></p>

                            
                            <div class="text-aln-box">
                                <a href="#">View Sample</a>&nbsp; &nbsp; | &nbsp; &nbsp;
                                <a href="#">Add Subject(s)</a> &nbsp;  &nbsp; | &nbsp;  &nbsp;
                                <a href="#">Edit</a>
                            </div>

                        </div>
                        <!--</div>
                            </div>
                        </div>-->
                    </ng-template>
                </p-dataList>
            </div>
        </div>
    </div>
</div>